*.user
*.suo
/sw/canshark-console/bin
/sw/canshark-console/obj
/fw/canshark/bin
/fw/canshark/*.layout
*.o
*.d
/sw/canshark-gui/bin/Debug
/sw/canshark-gui/obj/Debug
/fw/canshark/tmp
/fw/canshark/lib/lwip141/bin
*.elay
